.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: visible;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 1em;
}

.card p {
  color: black;
}

.card strong {
  color: black;
}
.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  color: #bfbdb6;
  text-align: center;
}
.title {
  font-size: 30px;
}
.title:hover {
  cursor: pointer;
}
