.root{
  min-height: 100vh;
  display:flex;
  justify-content : center;
  align-items: flex-start;
  padding-top:10em;
  background:white;
  box-sizing: border-box;
}
.primary-conatainer{
  display:flex;
  flex-direction:column;
  gap:1em;
  align-items:center;
  justify-content:center;
  margin-bottom: 14em;
}
.default{
  display:flex;
  flex-direction:column;
  height:5em;
  width:5em;
  align-items:center;
  justify-content:center;
  border:none;
  outline:none;
}
img{
  border:none;
  outline:none;
  display:block;
}
.box-image{
  border:none !important;
  outline:none !important;
  box-shadow:none !important;
}
.secondary-text-box{
  display:flex;
  width:10em;
}
.secondary-text{
  color: #BFBDB6;
}

.input-container{
  position:relative;
  display:flex;
  flex-direction:column;
  border: 1px solid #E6E6E6;
  max-width: min(800px, 90vw);
  min-height: 175px;
  border-radius:10px;
  width: 90%;
  padding-top: 1em;
  box-sizing: border-box;
}

.text-field{
  display:flex;
  flex-direction:column;
  text-color:black;
  gap:1em;
}

input{
  background-color:white;
  color:black
}

.linebreak{
  display: block;
  margin: 15px 0;
  border-bottom: 2px solid #000;
  width: 50px; /* Small horizontal line */
}

.card-footer{
  position: relative;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
  height:40px;
  margin: 10px 10px 10px 10px;
  gap: 0.5em;
}

.cancel-button{
  width: 60px;
  height: 40px;
  background-color:black;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel-button:hover{
  cursor: pointer;
  background-color: #333;
}
.sidebarbutton{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.sidebarbutton button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebarbutton button:hover {
  background-color: #333;
}

.enter-button{
  background-color: black;
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enter-button:hover{
  cursor: pointer;
  background-color: #333;
}
.enter-button-container{
  display: flex;
  align-items: center;
}
.cancel-button-container{
  display: flex;
  align-items: center;
}


.secondary-input{
  border:none;
  outline:none;
  padding-left:10px;

}
.primary-input{
  margin-top:10px;
  border:none;
  outline:none;
    padding-left:10px;

}
.primary-input:active{
  border:0px;
}
.date {
  border:none;
  outline:none;
    padding-left:10px;

}


p{
  color:black;
}

/* Responsive breakpoints */
@media (max-width: 768px) {
  .Root-card {
    width: 95%;
    max-width: none;
  }

  .input-container {
    width: 95%;
    padding: 0.8em;
    min-height: 120px;
  }
}

@media (max-width: 480px) {
  .Root-card {
    width: 100%;
  }

  .input-container {
    width: 95%;
    padding: 0.5em;
    min-height: 100px;
    border-radius: 8px;
  }
}

